:root {
  font-family: 'Montserrat', system-ui, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: #0D1009;
  background-color: #F3F7ED;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* prevent overflows of elements */
*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  font-weight: 900;
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-size: 28px;
  font-weight: 900;
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

p.bold, .bold-text {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

p.small, .small-text {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;  /* Inherit color from parent */
  font-family: inherit; /* Inherit font family from parent */
}

a:hover,
a:focus {
  text-decoration: none;  /* Remove underline on hover/focus too */
}

body {
  margin: 0;
  padding: 0;
}